<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.reark.rxgithubapp" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".advanced.RxGitHubApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".advanced.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".advanced.activities.ChooseRepositoryActivity" />

        <provider
            android:name=".advanced.data.schematicProvider.generated.GitHubProvider"
            android:authorities="io.reark.rxgithubapp.advanced.data.schematicProvider.GitHubProvider"
            android:exported="false">
        </provider>

        <receiver android:name=".advanced.widget.WidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info" />
        </receiver>

        <service android:name=".advanced.widget.WidgetService"
            android:process=":widgetservice" />

        <service android:name=".advanced.network.NetworkService"
            android:process=":networkservice" />

    </application>

</manifest>
