<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="io.reark.rxbookapp">

    <!-- Disable animations on debug builds so that the animations do not interfere with Espresso
         tests.  Adding this permission to the manifest is not sufficient - you must also grant the
         permission over adb! -->
    <uses-permission android:name="android.permission.SET_ANIMATION_SCALE" />

</manifest>
